<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appENEM.menugrupal">

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- This service is only used on devices with API v17+ -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gerenciador_arquivo" />
    </application>

</manifest>