#corpo{
 background: #B0C4DE;
}

.texto{
 background: #ffffff;  
}

.enuciado{
 background: #ADD8E6;  
 color: #000000;
}

.alternativas{
 background: #B0C4DE;
}
#a{
    background:#B0C4DE; 
    font-size: 15px;
    font-weight: 600;
}
#b{
    background:#B0C4DE;
     
    font-size: 15px;
    font-weight: 600;
}
#c{
    background: #B0C4DE;
    font-size: 15px;
    font-weight: 600;

}
#d{
    background: #B0C4DE;
    font-size: 15px;
    font-weight: 600;

}
#e{
    background:#B0C4DE;
    font-size: 15px;
    font-weight: 600;

}
button{
   border-radius: 10px;
   height: auto;
   justify-content: center;
}

.comentario{    
    background: #a0a000;
    color:beige;
    width: 20px;
      
}

#com{
    background: #ffa0f0;
    justify-content: center;
    font-size: 15px;
    font-family: cursive;
    font-style: oblique;
    font-weight: 300;
    font-family: monospace;
    font-stretch: expanded; 
    background: #000080; 
    color: aliceblue;
}

#txtComent{
 background: #000080; 
    color: aliceblue;
}

img{
 width: 400px;   
}